import logging

IMAGE_FOLDER = "image folder"
ES_SERVER_ENDPOINT = "http://127.0.0.1:9200"
IMAGE_BASE_URL = "/image"
STATIC_BASE_URL = "/static"
INDEX_NAME = "test"
TYPE_NAME = "test"
INDEX_FEATURES = ["CEDD", "JCD", "COLOR_LAYOUT", "OPPONENT_HISTOGRAM", "SCALABLE_COLOR", "JOINT_HISTOGRAM", "FCTH", "EDGE_HISTOGRAM", "PHOG"]
SEARCH_HASH_LIMIT = 1000
RESULT_SIZE = 24
INDEX_LOG_INTERVAL = 10
IGNORE_EXIST = True
IMAGE_EXTENSIONS = ["jpg", "png"]
LOGGING_LEVEL = logging.DEBUG